/* Inserta tu codigo que es común para todas las páginas aqui */

/*Header*/
header h3{
	margin-bottom: 1%;
    color: #1A2952;
    padding-bottom: 1%;
}
header a{
	height: 30px;
    padding: 1% 3%;
    color: gray;
}
header a:hover{
    padding: 1% 3%;
	height: 30px;
	background:#1A2952;
	border-radius: 3px;
	color: white;
}

/*section contacto*/
#contacto {
	padding: 5% 10%;
	margin: 0 auto;
	background-image: url(../img/shoes_1.jpg);
	background-repeat: no-repeat;
  	background-size: 60%;
  	background-position: right;
  	position: relative;
  	background-position-y: 65%;
}
#contacto .titulo-contactanos{
  	font-weight: bold;
}
textarea {
	width: 100%;
	height: 150px;
	line-height: 150%;
	margin: 1% 0;
    border-radius: 3px;
    border: 2px #E3E3E3 solid;
    padding: 2% 40px;
    background: transparent;
}
#contacto input { 
    width: 100%;
    height: 40px;
    margin: 1% 0;
    border-radius: 3px;
    border: 2px #E3E3E3 solid;
    padding-left: 40px;
}
#contacto button{
	width: 100%;
    height: 40px;
    margin: 1% 0;
    border:none;
    border-radius: 5px;
    background: #1A2952;
    font-size:15px;
    color: white;
}
#contacto button:hover{
	background: #0F182F;
}
#contacto h3{
	font-size: 25px;
    font-weight: bold;
}
form .name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 25px 25px;
    background-position: 10px 5px;
    background-repeat: no-repeat;
}
form .email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 25px 25px;
    background-position: 10px 5px;
    background-repeat: no-repeat;
}
form .comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 25px 25px;
    background-position: 10px 5px;
    background-repeat: no-repeat;
}

/*section footer*/
footer{
	height: 70px;
	background-color: #192951;
	padding: 2%;
}
.footer p{
	color: white;
}

/*Otros*/
.mg-5-0{
	margin: 5% 0;
}
.pd-2 {
	padding: 2% 0;
}
.pd-5-10{
	padding: 5% 10%;
}
.pd-5-0{
	padding: 5% 0;
}
.pd-5{
	padding: 5%;
}
.pd-0-3{
	padding: 0 3%;
}
.pd-10{
	padding: 10%;
}
.pr-10{
	padding-right: 10%;
}
.bg-white{
	background: white;
}
.boton a{
	text-align: center;
	color: white;
	border-radius: 3px;
}
.textura-2{
	background: url('../img/textura_2.jpg');
	background-repeat: repeat;
} 
.cubes {
	background-image: url(../img/cubes.png);
	background-repeat: repeat;
}
.center-box{
	display: flex;
 	justify-content: center;
 	align-items: center;
}